<template>
    <div>
        <label-edit-popup v-if="nodeEdit"
                          @cancel="nodeEditCancel" @save="nodeEditSave"
                          :label="editLabel">
        </label-edit-popup>
        <label-edit-popup v-if="edgeEdit"
                          @cancel="edgeEditCancel" @save="edgeEditSave"
                          :label="editLabel">
        </label-edit-popup>
        <div class="graph-editor" ref="graph-view"></div>
    </div>
</template>

<script>
  import vis from 'vis'
  import Vue from 'vue'
  import LabelEditPopup from 'components/LabelEditPopup'
  import * as types from 'vuex/mutation-types'

  const eventHub = new Vue()

  export default {
    components: {
      LabelEditPopup,
    },
    data: () => ({
      nodes: [],
      edges: [],
      container: '',
      counter: 1,
      nodeEdit: false,
      edgeEdit: false,
      editLabel: '',
      editCallback: null,
      editData: {},
    }),
    mounted() {
      this.initVis()
    },
    created() {
      eventHub.$on('add-node', this.addNode)
      eventHub.$on('edit-node', this.editNode)
      eventHub.$on('delete-node', this.deleteNode)
      eventHub.$on('add-edge', this.addEdge)
      eventHub.$on('edit-edge', this.editEdge)
      eventHub.$on('delete-edge', this.deleteEdge)
    },
    beforeDestroy: function () {
      eventHub.$off('add-node', this.addNode)
      eventHub.$off('edit-node', this.editNode)
      eventHub.$off('delete-node', this.deleteNode)
      eventHub.$off('add-edge', this.addEdge)
      eventHub.$off('edit-edge', this.editEdge)
      eventHub.$off('delete-edge', this.deleteEdge)
    },
    methods: {
      addNode(nodeData) {
        nodeData.label = this.counter++
        this.nodes.push(nodeData)
      },
      deleteNode(deleteData) {
        this.syncNodes(deleteData.nodes)
        this.syncEdges(deleteData.edges)
      },
      addEdge(edgeData) {
        edgeData.label = this.getRandomArbitrary(1, 10)
        this.edges.push(edgeData)
      },
      deleteEdge(deleteData) {
        this.syncNodes(deleteData.nodes)
        this.syncEdges(deleteData.edges)
      },
      syncNodes(idsToDelete) {
        this.nodes = this.nodes.filter(
          node => idsToDelete.indexOf(node.id) === -1)
      },
      syncEdges(idsToDelete) {
        this.edges = this.edges.filter(
          edge => idsToDelete.indexOf(edge.id) === -1)
      },
      editNode(nodeData, callback) {
        this.nodeEdit = true
        this.editLabel = nodeData.label
        this.editCallback = callback
        this.editData = nodeData
      },
      nodeEditCancel() {
        this.nodeEdit = false
        this.editCallback(null)
      },
      nodeEditSave(newLabel) {
        this.nodeEdit = false
        this.editData.label = newLabel
        this.editCallback(this.editData)
        this.nodes.forEach(node => {
          if (node.id === this.editData.id) {
            node.label = this.editData.label
          }
        })
      },
      editEdge(edgeData, callback) {
        this.edgeEdit = true
        this.editLabel = edgeData.label
        this.editCallback = callback
        this.editData = edgeData
      },
      edgeEditCancel() {
        this.edgeEdit = false
        this.editCallback(null)
      },
      edgeEditSave(newLabel) {
        this.edgeEdit = false
        this.editData.label = newLabel

        if (/^targetNode/.test(this.editData.to)) {
          this.editData.to = this.editData.from
        }

        this.editCallback(this.editData)
        this.edges.forEach(edge => {
          if (edge.id === this.editData.id) {
            edge.label = this.editData.label
          }
        })
      },
      getRandomArbitrary(min, max) {
        return Math.floor(Math.random() * (max - min)) + min
      },
      initVis() {
        const _this = this
        const options = {
          manipulation: {
            enabled: true,
            initiallyActive: true,
            addNode: (nodeData, callback) => {
              eventHub.$emit('add-node', nodeData)
              callback(nodeData)
            },
            editNode: (nodeData, callback) => {
              eventHub.$emit('edit-node', nodeData, callback)
            },
            addEdge: (edgeData, callback) => {
              if (edgeData.from === edgeData.to) {
                alert('You cannot connect the node to itself!')
                return
              }

              if (_this.isNodesConnected(edgeData.to, edgeData.from)) {
                alert('Nodes already connected')
                return
              }

              eventHub.$emit('add-edge', edgeData)
              callback(edgeData)
            },
            editEdge: (edgeData, callback) => {
              eventHub.$emit('edit-edge', edgeData, callback)
            },
            deleteNode: (deleteData, callback) => {
              eventHub.$emit('delete-node', deleteData)
              callback(deleteData)
            },
            deleteEdge: (deleteData, callback) => {
              eventHub.$emit('delete-edge', deleteData)
              callback(deleteData)
            },
          },
          nodes: {
            physics: false,
          },
        }

        this.container = this.$refs['graph-view']

          /* eslint-disable no-new */
        window.graph = new vis.Network(this.container, {
          nodes: [],
          edges: [],
        }, options)
      },
      isNodesConnected(nodeIdA, nodeIdB) {
        for (const edge of this.edges) {
          if (edge.from === nodeIdA && edge.to === nodeIdB
            || edge.from === nodeIdB && edge.to === nodeIdA) {
            return true
          }
        }

        return false
      },
    },
    watch: {
      nodes: function () {
        window.graph.setData({nodes: this.nodes, edges: this.edges})
        this.$store.commit(types.SET_GRAPH, {
          nodes: JSON.parse(JSON.stringify(this.nodes)),
          edges: JSON.parse(JSON.stringify(this.edges)),
        })
      },
      edges: function () {
        window.graph.setData({nodes: this.nodes, edges: this.edges})
        this.$store.commit(types.SET_GRAPH, {
          nodes: JSON.parse(JSON.stringify(this.nodes)),
          edges: JSON.parse(JSON.stringify(this.edges)),
        })
      },
    },
  }
</script>

<style>
    @import url(~vis/dist/vis.css);

    .graph-view {
        margin-bottom: 10px;
    }

    .graph-editor {
        height: 100%;
    }
</style>
