<template>
    <div class="main-view">
        <graph-editor class="main-view__left-side"></graph-editor>
        <div class="main-view__right-side">
            <salesman-problem-solver></salesman-problem-solver>
        </div>
    </div>
</template>

<script>
  import GraphEditor from 'components/GraphEditor'
  import SalesmanProblemSolver from 'components/SalesmanProblemSolver'

  export default {
    components: {
      GraphEditor,
      SalesmanProblemSolver,
    },
  }
</script>

<style>
    .main-view {
        height: 100%;
    }

    .main-view__left-side {
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        border: 1px solid lightgray;
    }

    .main-view__right-side {
        width: 50%;
        padding: 10px;
        overflow-x: auto;
        margin-left: 50%;
    }
</style>
