<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  import store from 'renderer/vuex/store'

  export default {
    store,
  }
</script>

<style>
  @import url(~bootstrap/dist/css/bootstrap.css);

  html, body, #app {
    height: 100%;
  }

  label {
    cursor: pointer;
  }
</style>
