<template>
    <div>
        <button class="btn btn-primary" @click="solve">Solve</button>

        <div v-html="answer"></div>

        <div v-html="messages" v-if="solved"></div>
    </div>
</template>

<script>
  import {mapState} from 'vuex'
  import range from 'lodash/range'
  import axios from 'axios'

  export default {
    data: () => ({
      table: {},
      answer: '',
      messages: '',
      solved: false,
    }),
    computed: mapState({
      nodes: state => state.graph.nodes,
      edges: state => state.graph.edges,
    }),
    methods: {
      solve() {
        this.buildTable()

        const data = {
          amount: Object.keys(this.table).length,
        }

        for (const rowNumber of Object.keys(this.table)) {
          for (const colNumber of Object.keys(this.table[rowNumber])) {
            data[`table[${rowNumber}][${colNumber}]`] = this.table[rowNumber][colNumber]
          }
        }

        axios.post('http://localhost:8000', $.param(data), {
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
        })
          .then(response => {
            this.answer = response.data.answer
            this.messages = response.data.messages
            this.solved = true
          })
          .catch(error => {
            console.error(error)
          })
      },
      buildTable() {
        const nodesAmount = this.nodes.length

        this.nodes.forEach((node, index) => {
          this.table[index + 1] = {}

          for (const i of range(1, nodesAmount + 1)) {
            if (i === index + 1) {
              continue
            }

            this.table[index + 1][i] = this.getWeightBetweenNodes(
              node,
              this.nodes[i - 1]
            )
          }
        })
      },
      getWeightBetweenNodes(nodeA, nodeB) {
        for (const edge of this.edges) {
          if (edge.from === nodeA.id && edge.to === nodeB.id
            || edge.from === nodeB.id && edge.to === nodeA.id) {
            return +edge.label
          }
        }

        return Infinity
      },
    },
  }
</script>
